<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684586790343-b1qhivms13dt912o8sps5hn3a6k35h08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684586790343-b1qhivms13dt912o8sps5hn3a6k35h08</string>
	<key>API_KEY</key>
	<string>AIzaSyC9YLf2pEx3rBBiqeoBiMQx4ufCmHs04nU</string>
	<key>GCM_SENDER_ID</key>
	<string>684586790343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfest</string>
	<key>PROJECT_ID</key>
	<string>myfest-db88e</string>
	<key>STORAGE_BUCKET</key>
	<string>myfest-db88e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684586790343:ios:6fa1b2ba1e8360e02ebde2</string>
	<key>DATABASE_URL</key>
	<string>https://myfest-db88e-default-rtdb.firebaseio.com</string>
</dict>
</plist>