<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Otros permisos necesarios -->

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="MyFest"
        android:icon="@mipmap/ic_launcher">

        <!-- Agrega tu clave de API de Google Maps aquí -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBE_cTWGbnNW3Y1NRvlW97De2-em0OFXjs" />

        <!-- Otras configuraciones de la aplicación -->

    </application>

</manifest>
